{%  extends "base.html" %}

{% block content %}

<section id="about">
    <div class="container">
        <div class="row">
            <div class=" col-lg-8 mx-auto">
                <h2>About Us</h2>
                <img src="{% static 'Image/aboutus.png'%}" alt="about us" />
                <p class="lead">
                    We are the people which will help you make your ride be more enjoyable by find the people having
                    the same destination as yours.
                    Give this thing a chance and you might have the best journey of your life with a stranger.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Contact us</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat
                    voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et
                    repudiandae ipsa exercitationem, in, quo totam.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}