{%  extends "base.html" %}
{% load static %}



{% block content %}
{% for trip in object_list %}
<div class="movie_card" id="ave">
    <div class="info_section">
        <div class="movie_header">

            <h1> Destination : {{ trip.dest }}</h1>
            <h2>Source : {{ trip.src }}</h2>
            <h4>Journey Date : {{ trip.journey_date }}</h4>
        </div>
        <div class="button offset-6">
            <Button class="btn btn-success"><a href="#">
                    <p style="color: antiquewhite;">Confirm Your Trip</p>
                </a></Button>
            <Button class=" btn btn-success"><a href="{{ trip.get_absolute_url }}">
                    <p style="color: antiquewhite;">View </p>
                </a></Button>
        </div>
    </div>

</div>
{% endfor %}
{% endblock content %}